{% extends 'base.html' %}
 
{% block body %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <p><img src="static/img/add_post/image1.jpg"></p>
      </div>
<div class="col-md-6">
    <form action="{{url_for('addPost')}}" method="post" class="form-contact">
<p><label>Название статьи: </label> <input type="text" name="name" value="" requied />
<p><label>URL статьи: </label> <input type="text" name="url" value="" requied />
<p><label>Текст статьи:</label>
<p><textarea name="post" rows=15 cols=90></textarea>
<p><input type="submit" value="Добавить" />
</form>
      </div>
    </div>
{% endblock %}
