{% extends 'base.html' %}

{% block title %}
Колористика
{% endblock %}

{% block body %}
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <p><img src="static/img/coloristics/coloristics.jpg"></p>
      </div>
      <div class="col-md-6">
          <p class="lead fw-normal">Интуитивно подобрать гармоничные сочетания цвета может быть сложно. Чтобы не ошибиться в составлении композиции, флористу поможет главный колористический инструмент — цветовой круг.</p>
          <p class="lead fw-normal">Круг Иттена состоит из 12 цветов и помогает найти наиболее удачные цветовые гармонии во флористике. Максимально противоположные цвета находятся на круге друг напротив друга — они называются контрастными. Максимально похожие цвета находятся рядом, по бокам, и называются аналоговыми. Например, красный и зеленый — контрастные, а красный и оранжевый — аналоговые</p>
      </div>
</div>
    <p class="lead fw-normal">Все цвета на круге Иттена можно разделить на активные и пассивные. К активным относятся те, что волнуют и побуждают к действию, к пассивным — те, что успокаивают.</p>
    <p class="lead fw-normal">Активным оттенкам обычно соответствуют теплые: красные, оранжевые, желтые. Пассивным — холодные: синие, фиолетовые, зеленые.</p>
    <p class="lead fw-normal">Все цвета делятся на несколько категорий:</p>
<ul>
    <li><p class="lead fw-normal">базовые, или первого порядка: красный, синий и желтый;</p></li>
    <li><p class="lead fw-normal">второго порядка — те, что получаются путем смешивания базовых, например оранжевый, зеленый, фиолетовый;</p></li>
    <li><p class="lead fw-normal">третьего порядка — результат смешивания цветов второго порядка, например желто-оранжевый, желто-зеленый, сине-фиолетовый.</p></li>
</ul>
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <p><img src="static/img/coloristics/coloristics1.png"></p>
      </div>
      <div class="col-md-6">
          <p class="lead fw-normal">Цвета на круге расположены в таком порядке, что если наложить на него несложную схему, то получится гармоничное сочетание. Например, берем схему в виде треугольника, накладываем поверх круга и видим самую простую гармонию.</p>
          <p class="lead fw-normal">Сине-фиолетовый, красно-оранжевый, желто-зеленый образуют цветовую схему-триаду. Треугольник можно вращать как угодно по кругу, и будет всегда выпадать гармоничное сочетание</p>
          <p class="lead fw-normal">Круг Иттена — хорошая опора для флориста, чтобы делать букеты с приятными для глаза цветовыми сочетаниями. Правда, часто допускают такую ошибку: флористы смешивают не оттенки, а открытые цвета — в том виде, в котором они изображены на круге. Например, берут яркие желтые и яркие красные цветы. Получаются кричащие и дисгармоничные букеты.</p>
      </div>
</div>
    <p class="lead fw-normal">Лучше взять те же цвета, но менее насыщенных оттенков, например выбеленный желтый с выбеленным красным, — получится нежный гармоничный букет. В то же время важно учитывать, что букет не состоит только из двух цветов — флорист растягивает каждый цвет в нескольких оттенках: от насыщенного к светлому. Так получается плавный переход цветовой гаммы.</p>

{% endblock %}