{% extends 'base.html' %}

{% block title %}
Композиция
{% endblock %}

{% block body %}
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <p><img src="static/img/composition/composition.jpg"></p>
      </div>
      <div class="col-md-6">
          <p class="lead fw-normal">В идеале флористическая композиция должна отвечать следующим требованиям:</p>
          <ul>
              <li><p class="lead fw-normal">Пропорциональность</p></li>
              <li><p class="lead fw-normal">Должна иметься фокусная точка</p></li>
              <li><p class="lead fw-normal">Ритм</p></li>
              <li><p class="lead fw-normal">Уравновешенность</p></li>
              <li><p class="lead fw-normal">Гармония</p></li>
          </ul>
          <p class="lead fw-normal">Разберем каждое требование чуть подробнее:</p>
          <p class="lead fw-normal">Пропорция — это соотношение размера растений и сосуда, между всеми цветами, листьями и вазой. Приятное и гармоничное впечатление указывает на то, что все пропорции соблюдены.</p>
          <p class="lead fw-normal">Для соблюдения этого закона в создании работы исходят из правила золотого сечения и чисел Фибоначчи. Во флористике применяют чаще всего соотношение 2:3, 3:5:8.</p>
      </div>
    <p class="lead fw-normal">Предположим, что букет стоит вертикально в вазе. Тогда если всю высоту конструкции разделить на 8 частей, то из них 5 должны приходиться на цветы, а 3 на вазу. Также размер самого высокого цветка должен быть равен 1,5 высоты вазы (светлые цветы и бутоны — выше, более тёмные — ниже). Примерно так же должны соотноситься части в букете, который держат в руках. Всё это на глаз, не нужно мерить всё линейкой.
Теперь возьмём букет цветов, который стоит в корзине горизонтально (тоже самое относится и к плоской вазе). В таком случае нужно учитывать диагональ или диаметр вазы. Самая длинная ветка и цветок должны составлять 5 частей, самые короткие 3 или размер самого длинного цветка должен быть равен 1,5 диаметра или диагонали вазы.</p>
    <p class="lead fw-normal">Помимо правил золотого сечения и чисел Фибоначчи важно пользоваться правилом третей (упрощённое правило золотого сечения). То есть, если разделить прямоугольную форму по горизонтали и вертикали на три части, получим пересечение осей, и именно в этих пересечениях расставляют акценты.</p>
    <p class="lead fw-normal">Фокусная точка — это центр внимания композиции, такое место, куда притягивается взгляд. Это могут быть более крупные цветы или группа мелких цветов, которые расположены по краям вазы. Фокусная точка не должна быть большой, иначе внимание будет рассеяно, и это испортит всю композицию.</p>
    <p class="lead fw-normal">Ритм — это движения в композиции, достигнуть которого можно чередованием формы и цвета, и ещё сменой размеров цветов. Без ритма композиция выглядит однообразно и скучно.</p>
    <p class="lead fw-normal">Уравновешенность — это гармоничный баланс во всей работе: все цветы по цвету и размеру друг друга не утяжеляют и букет не кажется переполненным с одной стороны.</p>
    <p class="lead fw-normal">Существует несколько приёмов зрительного утяжеления более лёгкой стороны аранжировки. Для этого нужно знать, что тёмные цветы тяжелее, чем светлые, а круглые тяжелее, чем трубчатые.</p>
    <p class="lead fw-normal">Также существует баланс между верхом и низом. Крупные цветы в середине или внизу составленного букета создают впечатление уравновешенности.</p>
    <p class="lead fw-normal">Гармония — это эстетическое качество композиции, эстетическая ценность, при которой все части аранжировки, их форма и цвет дополняют друг друга.</p>
</div>
{% endblock %}