{% extends 'base.html' %}

{% block title %}
Флориография
{% endblock %}

{% block body %}
<p class="lead fw-normal">В Викторианскую эпоху язык цветов использовали для тайного выражения чувств, в тех случаях, когда о них нельзя было говорить открыто.</p>
<p class="lead fw-normal">Проще всего представить флориографию в виде таблицы:</p>
<p class="lead fw-normal"></p>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Азалия</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Сдержанность</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\azalea.jpg"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Василёк</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Изящество</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\cornflower.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Белая гвоздика</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Презрение</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\white_carnation.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Красная гвоздика</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Страстная любовь</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\red_carnation.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Розовая гвоздика</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Первая любовь</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\pink_carnation.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Красная хризантема</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Я люблю</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\red_ch.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Белая хризантема</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Правда</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\white_ch.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Желтая хризантема</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Отвергнутая любовь</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\yellow_ch.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Ландыш</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Надёжность</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\lily.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Пурпурная сирень</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Первая любовь</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\lilac.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Белая сирень</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Невинность</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\white_lilac.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Белая лилия</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Чистота</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\white_lily.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Оранжевая лилия</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Ненависть и отвращение</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\orange_lily.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Тигровая лилия</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Изобилие, процветание</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\tiger_lily.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Чайная роза</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Красота всегда нова</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\tea_rose.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Красная роза</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Настоящая любовь</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\red_rose.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Жёлтая роза</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Дружба, счастье, радость</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\yellow_rose.png"></div>
</div>
<div class="row mb-3 text-center">
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Белая роза</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><p class="lead fw-normal">Вечная любовь</p></div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="\static\img\floriography\white_rose.png"></div>
</div>
{% endblock %}