{% extends 'base.html' %}

{% block title %}
Справочник
{% endblock %}

{% block body %}
<link rel="stylesheet" href="css/main.css">
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Колористика</h2>
          <p>Колористика – наука о цвете, его гармонии, смешивании и комбинировании всевозможных оттенков.</p>
            <p>Колористика во флористике – один из основных элементов любого букета, ведь важно не только подобрать цветы и продумать композицию, но и учесть оттенки будущего флористического шедевра.</p>
          <a class="btn btn-sm btn-outline-secondary" href="/coloristics">Начать изучение!</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Композиция</h2>
            <p>Композиция - сочинение, сопоставление, составление, расположение, сложение, соединение частей в единую систему в определенном порядке.</p>
          <p>Во флористике, как и в любом другом искусстве, существуют свои правила и принципы, которым необходимо строго следовать, чтобы создать красивую композицию, радующую глаз. На авось не составляют букеты даже очень опытные флористы.</p>
          <a class="btn btn-sm btn-outline-secondary" href="/composition">Начать изучение!</a>
        </div>
      </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Флориография</h2>
            <p>Флориография — символика, значение, придаваемое различным цветам для выражения тех или иных настроений, чувств и идей.</p>
          <a class="btn btn-sm btn-outline-secondary" href="/floriography">Начать изучение!</a>
        </div>
      </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Материаловедение</h2>
          <p>Для того, чтобы флористические композиции оставались как можно дольше свежими, за ними нужно правильно ухаживать - этому и посвящен раздел материаловедения.</p>
          <a class="btn btn-sm btn-outline-secondary" href="/materiology">Начать изучение!</a>
        </div>
      </div>
    </div>
{% endblock %}