{% extends 'base.html' %}

{% block title %}
Материаловедение
{% endblock %}

{% block body %}
<p class="lead fw-normal">Для создания флористических композиций необходимо приготовить следующие материалы:</p>
          <ul>
              <li><p class="lead fw-normal">Флористическая губка. Она служит основой для композиций. Ее кладут на дно какой-либо емкости – корзинки, шляпной коробки, вазочки, для фиксации цветов и других элементов. Воткнутые в нее цветы дольше сохраняют свежесть, их можно поливать.</p></li>
              <li><p class="lead fw-normal">Тонкая гибкая проволока. Она пригодится не только для укрепления композиции, но и для изготовления отдельных ее элементов.</p></li>
              <li><p class="lead fw-normal">Флористическая тейп-лента необходима для закрытия срезов на стебле, проволоки, упаковки и декорирования. Напоминает своими свойствами изящную изоленту, изготовленную из синтетического нетканого материала. Она легко натягивается, повторяет форму элемента, плотно и надежно фиксируется благодаря клеящему слою, продлевает жизнь срезанному растению.</p></li>
              <li><p class="lead fw-normal">Вазы, портбукетницы, атласные ленты разных цветов, красивая оберточная бумага, корзинки, шляпные коробки, штекеры и другие аксессуары для украшения. Сразу дадим маленький совет: следите за модными тенденциями во флористике. В социальных сетях подпишитесь на известных флористов или профессиональные сообщества, чтобы быть в курсе всех новинок.</p></li>
              <li><p class="lead fw-normal">В качестве технической обертки, например, для перевозки или защиты от повреждений, можно использовать прозрачную пленку из целлофана.</p></li>
          </ul>
<p class="lead fw-normal">В работе понадобятся следующие инструменты:</p>
<ul>
    <li><p class="lead fw-normal">Секатор</p></li>
    <li><p class="lead fw-normal">Ножницы</p></li>
    <li><p class="lead fw-normal">Флористический нож</p></li>
</ul>
<p class="lead fw-normal">Желательно иметь по паре инструментов, чтобы одной парой резать растения, а другой нарезать ленты, оберточную бумагу и другие материалы</p>
<p class="lead fw-normal">Обязательно следите за тем, чтобы инструменты всегда были остро заточены</p>
<p class="lead fw-normal">Помимо этого, на рабочем месте могут быть полезны:</p>
<ul>
    <li><p class="lead fw-normal">Термоклеевой пистолет - для соединения элементов.</p></li>
    <li><p class="lead fw-normal">Степлер – для той же цели</p></li>
    <li><p class="lead fw-normal">Кусачки, тонкогубцы и плоскогубцы для работы с проволокой.</p></li>
</ul>
<p class="lead fw-normal">Поскольку флорист работает с цветами, ему очень важно уметь правильно за ними ухаживать</p>
<p class="lead fw-normal">Основные советы:</p>
<ul>
    <li><p class="lead fw-normal">Важен благоприятный климат - прохладная комната, отсутствие сквозняка, удаленность от теплоприборов и прямых солнечных лучей</p></li>
    <li><p class="lead fw-normal">Нельзя, чтобы вода попадала внутрь цветка. Капли надолго остаются в тесноте лепестков и могут спровоцировать загнивание</p></li>
    <li><p class="lead fw-normal">Ваза для цветов должна быть высокой, чтобы стебли погружались в воду наполовину или на две трети своей длины</p></li>
    <li><p class="lead fw-normal">Чем шире горло вазы, тем лучше будет циркулировать воздух в вазе, вода будет дольше оставаться свежей</p></li>
    <li><p class="lead fw-normal">Ваза должна быть непрозрачной, поскольку на свету быстрее размножаются неблагоприятные бактерии</p></li>
</ul>
<p class="lead fw-normal">Для того, чтобы цветы дольше оставались свежими, нужно их подрезать. Основные правила:</p>
<ul>
    <li><p class="lead fw-normal">Стебли розы нужно срезать под углов 45 градусов</p></li>
    <li><p class="lead fw-normal">Тюльпаны нужно подрезать под прямым углом</p></li>
    <li><p class="lead fw-normal">Гвоздики подрезаются под углом в 45 градусов, между узлами</p></li>
    <li><p class="lead fw-normal">Хризантема подрезается под углом в 45 градусов</p></li>
    <li><p class="lead fw-normal">Лилии подрезаются под углом в 45 градусов</p></li>
</ul>
<p class="lead fw-normal">Часть цветов нельзя сочетать в букете:</p>
<ul>
    <li><p class="lead fw-normal">Розы желательно не сочетать с другими цветами - в срезке они выделяют в воду обменные продукты, которые оказывают токсическое воздействие на другие цветы и способствуют их увяданию.</p></li>
    <li><p class="lead fw-normal">Луковичные растения (например, тюльпаны) нельзя сочетать с древесными (например, розами)</p></li>
    <li><p class="lead fw-normal">Белые и кремовые розы плохо переносят соседство с яркими розами</p></li>
</ul>


{% endblock %}